.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    grid-auto-rows: auto;
    grid-template-areas: "content1  content1   content1 content1" "content2  content2   content2 content2" "content3  content4   content4 content4" "content7  content7   content7 content7";
}

.panel1 {
    grid-area: content3;
    padding: 20px;
    color: #ffeaf8;
}

.box0 {
    max-height: 100%;
    width: 100%;
    padding: 5px;
    background-color: #000000c2;
    position: relative;
}

label {
    font-family: Merriweather;
    font-size: 20px;
    color: #ffeaf8;
}

.panel2 {
    grid-area: content4;
    padding: 20px;
    color: #ffeaf8;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
    max-height: 150px;
    width: 100%;
    background-color: #000000c2;
    position: relative;
}