.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    grid-auto-rows: auto;
    grid-template-areas: "content1 content1 content1 content1" "content2  content2 content2 content2" "content3  content4   content5 content6" "content7  content7   content7 content7";
}

lead {
    font-family: Merriweather;
    font-size: 20px;
    color: #02096d;
}

/*contents */

a {
    text-decoration-line: none;
    text-decoration-color: #02096d;
}

.panel1 {
    grid-area: content3;
    background-color: #fff2ccdd;
    color: #02096d;
    padding: 5px;
    overflow: hidden;
    height: 390px;
}

.panel2 {
    grid-area: content4;
    background-color: #c9daf8df;
    color: #02096d;
    padding: 5px;
    overflow: hidden;
    height: 390px;
}

.panel3 {
    grid-area: content5;
    background-color: #d9ead3d9;
    color: #02096d;
    padding: 5px;
    overflow: hidden;
    height: 390px;
}

.panel4 {
    grid-area: content6;
    background-color: #f4ccccdf;
    color: #02096d;
    padding: 5px;
    overflow: hidden;
    height: 390px;
}

.image {
    width: 25%;
    height: 400px;
    ;
    position: absolute;
    z-index: 2;
}

.image:hover {
    opacity: 0.10;
    transition: opacity 0.3s ease-in-out;
}

/*Tablet Data*/

/*max-width, columns & area layout changed*/

@media screen and (min-width:501px) and (max-width:1000px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content1 content1" "content2 content2" "content3 content4" "content5 content6" "content7 content7";
    }
    /*Panels sizes change to fit smaller screens*/
    .panel1 {
        height: 390px;
    }
    .panel2 {
        height: 390px;
    }
    .panel3 {
        height: 390px;
    }
    .panel4 {
        height: 390px;
    }
    .image {
        width: 50%;
        height: 400px;
    }
}

/*Phone Data*/

/*max-width, columns & area layout changed*/

@media screen and (min-width:0) and (max-width:500px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "content1" "content2" "content3" "content4" "content5" "content6" "content7";
    }
    /*Panels sizes change to fit smaller screens, scroll feature added for extra text */
    .panel1 {
        overflow: scroll;
        max-height: 150px;
        background-image: image("media/home3.jpg")
    }
    .panel2 {
        overflow: scroll;
        max-height: 150px;
    }
    .panel3 {
        overflow: scroll;
        max-height: 150px;
    }
    .panel4 {
        overflow: scroll;
        max-height: 150px;
    }
    /*images moved tobehind text */
    .image {
        max-height: 160px;
        width: 100%;
        z-index: 1;
        position: absolute;
    }
}